SARC/*
Papers/*
code/final/__pycache__/
code/archive/sandbox/__pycache__/
*.toc
*.aux
*.log
*.gz
*.json
!sarc-comments.json
!nonsarc-comments.json
*.p
!lr_45652_reddit.p
!vecdict_45652_reddit.p
*.tp*
**/praw.ini
~*.*
